.header__nav{
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  list-style: none;

  &icon{

    margin-right: 7px;
    font-size: 1rem;
  }
    
  a{
    color:white;
    font-size: 0.9rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    width: fit-content;
    padding: 5px 20px;
    border: 1px solid hsl(267.97deg 25.84% 91.24%);
    margin-left: 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    &:hover{
      transform: scale(1.1);
      border: 2px solid $primary;
      color: $secondary;
      background-color: $primary;
    }
  }
  .link-active{
    font-weight: bold;
  color: #ac07fe; /* Couleur active */
  }
}
@media only screen and (max-width: 775px) {
  .header__nav{
    justify-content: center;
    gap:8px;
    a{
      padding: 3px 6px;
      font-size:0.75rem;
      border-radius: 6px;
      border-width: 1px;
    }

    &__icon{
      font-size: 0.8rem;
      margin-left:3px;

    }
  }
  
}