.modal-contact{
  //container
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center; /* Pour centrer verticalement */
  justify-content: center; /* Pour centrer horizontalement */
  background-color: hsl(284.54deg 93.53% 48.08% / 0%); /* Remplacez $muted-foreground par votre couleur de fond */
  .__contact{
    //modal 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: whitesmoke;
    color:blueviolet;
    border: 0.1rem solid hsla(227, 85%, 41%, 0.52);
    border-radius: 15px;
    h2{
      padding-top: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .close{
      cursor: pointer;
      position: absolute;
      font-size: 3rem;
      font-weight: bolder;
      top: 0px;
      right: 20px;
      transition: all 0.4s;
      &:hover{
        color: $destructive;
        transform: rotate(0.5turn);
      }
    }
    form{
      display: flex;
      flex-direction: column;
      width: 90%;
      gap: 10px;
      padding: 15px 0;
      label{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
      input{
        background-color:whitesmoke;
        height: 30px;
        border: 1px solid ;
        border-radius: 5px;
        color:blueviolet;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
      }
      textarea{
        background-color: whitesmoke;
        color: blueviolet;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        font-weight: bold;
        height: 120px;
        resize: none;
      }
    }
  }
}

/*Media Queries Tablette*/
@media only screen and (max-width: 1024px) {
  .modal-contact{

    .__contact{
      width: 50%;
    }
  }
}

/*Media Queries Mobile*/
@media only screen and (max-width: 775px) {
  .modal-contact{
    padding: 16px;
    overflow: auto;

    .__contact{
      width: 80%;
    }
  }
}