// Définition des variables
$background: hsl(0, 2%, 20%);
$foreground: hsl(227, 9%, 60%);
$muted: hsl(229, 12%, 15%);
$muted-foreground: hsl(229, 12%, 65%);
$popover: hsl(229, 27%, 5%);
$popover-foreground: hsl(227, 9%, 70%);
$card: hsl(229, 27%, 6%);
$card-foreground: hsl(227, 9%, 65%);
$border: hsl(229, 17%, 13%);
$input: hsl(229, 17%, 16%);
$primary: hsl(174, 42%, 65%);
$primary-foreground: hsl(174, 42%, 5%);
$secondary: hsl(174, 30%, 25%);
$secondary-foreground: hsl(174, 30%, 85%);
$accent: hsl(229, 27%, 23%);
$accent-foreground: hsl(229, 27%, 83%);
$destructive: hsl(0, 96%, 50%);
$destructive-foreground: hsl(0, 0%, 100%);
$ring: hsl(174, 42%, 65%);
$radius: 0.5rem;
$modal:hsl(229deg 12% 65% / 24%);