footer{
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 5rem;
  justify-content: center;
  p{
    color:rgba(182, 6, 152, 0.788);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  a{
    text-decoration: none;
    color: rgba(182, 6, 152, 0.788);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:hover{
      color: $primary;
    }
  }
}
/*Media Queries Mobile*/
@media only screen and (max-width: 775px) {
  footer{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 7vh;
    p{
      text-align: center;
    }
  }
  
}