
.ContainerProjectPage{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 15px;//  pour éviter que le contenu touche les bords sur mobile
  .projectPage{
    display: flex;
    flex-direction: column;
    gap:16px;
    width: min(900px, 90%);
    max-height: 90vh;
    overflow-y: auto; // scroll interne si contenu trop grand
    background-color: $modal;//  pour différencier du reste
    border: 1px solid $foreground;
    border-radius: 20px;
    padding: 20px; 
    h1{
      color:#09f9f9d4;
      font-size: 1.5rem;
      list-style: none;
      width: fit-content;
      padding: 5px 20px;
      margin-left: 20px;
      margin-bottom: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h2{
      color:purple;
      font-size: 1rem;
      width: fit-content;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0px;
    }
    p{
      color:whitesmoke;
      font-size: 0.9rem;
      width: 100%;
      padding: 5px;
      margin: 0px;
      max-width: 70ch;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: lighter;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 0px;
      padding: 0px;
      li{
        list-style: none;
        color: whitesmoke;
      }
    }
    .links{
      margin:  0px;
      a{
        width: fit-content;
        background-color: rgb(7, 99, 246);
        color: $accent-foreground;
        text-decoration: none;
        border-radius: 15px;
        padding: 6px 12px;
        margin-left: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: all 0.3s;
        &:hover{
          color: $primary;
          transform: scale(1.2);
        }
      }
    }
    .container-img{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30vh;
      gap: 20px;
      .img-L,.img-R{
        width: 45%;
        height: 100%;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 25px;
        }
      }
    }
  }
}

/*Media Queries Mobile*/
@media only screen and (max-width: 775px) {
  .ContainerProjectPage{
    align-items: center;
   
     
    .projectPage{
        height: 100%;
        width: 95%;
        
        h1{
          color:aqua;
          font-size: 1.3rem;
          list-style: none;
          width: fit-content;
          padding: 5px 10px;
          margin-left: 20px;
          margin-bottom: 0;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
      .container-img{
        flex-direction: column;
        height: 45%;
        gap: 10px;
        .img-L,.img-R{
          width: 95%;
          height: 47%;
        }
      }
    }
  }

}